<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>version</key>
    <string>1.0.0</string>
    <key>warning</key>
    <string>请不要修改这个文件中的内容</string>
    <key>project</key>
    <dict>
      <key>projectId</key>
      <integer>100016</integer>
    </dict>
    <key>application</key>
    <dict>
      <key>appId</key>
      <integer>102083</integer>
      <key>packageId</key>
      <string>Eric-Cheung.QCloudTACToDoListDemo</string>
    </dict>
    <key>services</key>
    <dict>
      <key>analytics</key>
      <dict>
        <key>appKey</key>
        <string>Iqcloud102083</string>
      </dict>
      <key>messaging</key>
      <dict>
        <key>appId</key>
        <string>2200295625</string>
        <key>appKey</key>
        <string>I15I8ES86ACJ</string>
      </dict>
      <key>crash</key>
      <dict>
        <key>appId</key>
        <string>2ff95e6136</string>
      </dict>
      <key>payment</key>
      <dict>
        <key>offerId</key>
        <string>TC102083</string>
      </dict>
      <key>storage</key>
      <dict>
        <key>bucket</key>
        <string>tac-tac-demo-st-1253653367</string>
        <key>region</key>
        <string>ap-guangzhou</string>
      </dict>
    </dict>
  </dict>
</plist>